name: CI
on: [push, pull_request]

jobs:
  api-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Build (no tests)
        run: mvn -q -DskipTests verify

      - name: Run API tests
        run: mvn -q -pl api-restassured -am test

      - name: Upload Allure results (API)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results-api
          path: api-restassured/target/allure-results
          if-no-files-found: ignore
